html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

img {
  border-style: none;
}

* {
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, PingFang TC, 黑體-繁,
    Heiti TC, 蘋果儷中黑, Apple LiGothic Medium, 微軟正黑體, Microsoft JhengHei,
    sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  width: 100%;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1;
}

ol,
p,
ul {
  margin: 0;
}

ol,
ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: #3397cf;
  text-decoration: none;
}
